<% flash.each do |name, msg| %>
  <div class="alert alert-error" style="width:130px;position: absolute;margin: 0 37%;">
   <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
    <span class="label label-info"><%= msg %></span>
  </div>
<% end %>
